
body {
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      
}

#main-body {
    text-align: center;
    padding: 20px 20px 20px 20px;
}

#main-container {
    margin: 50px 0px 50px 0px;
}



